body {
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Inter";
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #0f172a;
}
